{% extends "blog/blog_post_list.html" %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n future disqus_tags hitcount_tags %}

{% block meta_title %}{{ blog_post.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for blog_post as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ blog_post.description }}
{% endmetablock %}{% endblock %}

{% block extra_head %}
<script type='text/javascript'> <!--
function getCookie(name) {
    var cookieValue = null;
	if (document.cookie && document.cookie != '') {
		var cookies = document.cookie.split(';');
		for (var i = 0; i < cookies.length; i++) {
			var cookie = jQuery.trim(cookies[i]);
			// Does this cookie string begin with the name we want?
			if (cookie.substring(0, name.length + 1) == (name + '=')) {
				cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
				break;
			}
		}
	}
	return cookieValue;
}

    $(document).ready(function() {
            {% get_hit_count_javascript for blog_post %}
            });
--></script>
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
{{ blog_post.title }}
{% endblock %}

{% block main %}
<div class="list1">
{% block blog_post_list_post_title %}
{% editable blog_post.title %}
 <div class="title">
<h2>{{ blog_post.title }}</h2>
</div>
{% endeditable %}
{% endblock %}

{% block blog_post_detail_postedby %}
{% editable blog_post.publish_date %}
    <div class="info">
    时间:{{ blog_post.publish_date|timesince }} |
    {% with blog_post.user as author %}
    作者:{{ author.get_full_name|default:author.username }}  |
    {% endwith %}
    点击: {% get_hit_count for blog_post %}次
    </div>
{% endeditable %}
{% endblock %}

<div class="content">
<p align="center">
{% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
{% block blog_post_detail_featured_image %}
<img src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 350 0 %}"/>
{% endblock %}
{% endif %}
</p>

{% block blog_post_detail_content %}
{% editable blog_post.content %}
<div>
	{{ blog_post.content|richtext_filters|safe }}
</div>
{% endeditable %}
{% endblock %}
</div>

{% block blog_post_detail_keywords %}
{% keywords_for blog_post as tags %}
{% if tags %}
{% spaceless %}
<ul class="unstyled tags">
    <li>{% trans "Tags" %}:</li>
    {% for tag in tags %}
    <li><a href="{% url "blog_post_list_tag" tag.slug %}">{{ tag }}</a></li>
    {% endfor %}
</ul>
{% endspaceless %}
{% endif %}
{% endblock %}

<div class="dede_pages">
    <ul class="pagelist">
        
    </ul>
</div><!-- pages -->

<div class="context">
{% block blog_post_previous_next %}
<ul class="pager">
{% with blog_post.get_previous_by_publish_date as previous %}
{% if previous %}
<li class="previous">
    上一篇：<a href="{{ previous.get_absolute_url }}">&larr; {{ previous }}</a>
</li>
{% else %}
<li class="previous">
 上一篇：没有了
</li>
{% endif %}
{% endwith %}
{% with blog_post.get_next_by_publish_date as next %}
{% if next %}
<li class="next">
    下一篇：<a href="{{ next.get_absolute_url }}">{{ next }} &rarr;</a>
    </li>
{% else %}
<li class="next">
 下一篇：没有了
</li>
{% endif %}
{% endwith %}
</ul>
{% endblock %}
</div>
</div><!-- list1 -->

{% block blog_post_detail_related_posts %}
{% if blog_post.related_posts.all %}
<div id="related-posts">
<h3>{% trans 'Related posts' %}</h3>
<ul class="unstyled">
{% for post in blog_post.related_posts.all %}
     <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
</div>
{% endif %}
{% endblock %}

{% endblock %}
