{% load i18n future sc_tags %}

<div class="title1"><span class="more"><a href="/sc/category/notice">更多>></a></span>最新活动公告 </div>
<div class="list1">
    <ul>
{% sc_recent_notice as notices %}
{% if notices %}
{% for blog_post in notices %}
<li>
<a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a>
{{ blog_post.description_from_content|safe|limit_chars:255}}
</li>
{% endfor %}
{% else %}
    <li>暂时没有公告～
    </li>
{% endif %}
    </ul>
</div>

<div class="title1">推荐内容</div>
<div class="list1">
<ul>
{% sc_recommand as commands %}
{% if commands %}
{% for blog_post in commands %}
<li>
<a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a>
<p>
{{ blog_post.description_from_content|safe|limit_chars:128}}
</p>
</li>
{% endfor %}
{% else %}
    <li>暂时没有推荐内容～
    </li>
{% endif %}
</ul>
</div>

<div class="title1">热点内容</div>
<div class="list1">
<ul>
{% sc_hottest as hottest %}
{% if hottest %}
{% for blog_post in hottest %}
<li>
<a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a>
</li>
{% endfor %}
{% else %}
    <li>暂时没有内容～
    </li>
{% endif %}
</ul>
</div>

