{% load i18n future %}

<div class="left">
<div class="title1"><span class="more"><a href="/oaaaction/">更多>></a></span>最新活动公告 </div>

<div class="list1">

星期天大家一起去爬梧桐山！

</div>

<div class="title1">推荐内容</div>
<div class="list1">
   <ul>
           <li><a href="/scunews/2009/0228/3.html">华西医院召开2008年工作总结暨2009年工作安排</a>
            	<p>2月24日下午，我校华西医院2008年工作总结暨2009年工作安排大会在临床教学楼多功能厅...</p>
            </li>
<li><a href="/scunews/2009/0228/2.html">我校召开校党委全委会</a>
            	<p>2月25日下午，中共四川大学委员会全委会在江安校区江安办公楼301会议室举行。全体在校...</p>
            </li>

					</ul>
</div>

<div class="title1">热点内容</div>
<div class="list1">
   <ul>
   <li><a href="/scunews/2009/0228/2.html">我校召开校党委全委会</a></li>
<li><a href="/scunews/2009/0228/3.html">华西医院召开2008年工作总结暨20</a></li>
<li><a href="/scunews/2009/0228/4.html">谢和平校长会见国务院参事室主任</a></li>

   </ul>
</div>

</div>
